asgiref==3.2.3
autodiscover==0.0.3
Click==7.0
Django==3.0.7
django-appconf==1.0.3
django-imagekit==4.0.2
django-mathfilters==0.4.0
django-taggit==1.2.0
nicky==1.1.6
pilkit==2.0
Pillow==6.2.1
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
mysqlclient==2.0.1
